  @media only screen and (max-width: 790px) {
    .big {
        visibility: visible;
        background-color: greenyellow;
      }
      .small{
          visibility: hidden;
      }
}
@media only screen and (min-width: 790px) {
    .big {
        visibility: hidden;
      }
      .small{
          visibility: visible;
          background-color: orangered;
      }
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}