.header{
    width: 100%;
    height: 50px;
    background-color: gray;
    position: fixed;
    text-align: center;
    z-index: 1;
}
.content{
    z-index: 0;
    position: relative;
    top:60px;
    overflow-y: scroll;
    height: 600px;
    overflow-x: hidden;
}
