.container{
    position: absolute;
    width: -webkit-fill-available;
    height: 600px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: solid black 5px;
    background-color: #ededf1;
}
.logos{
    display: flex;
    justify-content: flex-end;
}
.item{
    margin: 5%;
}