.item{
    background-color: rgb(100,100,4);
    padding : 10px;
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
    position: absolute;
    border: 1px solid black;
}
.item1{
    background-color: red;
    left: 50px;
    top: 20px;
}
.item2{
    background-color: blue;
    right: 20px;
    bottom: 10px;
}
.item3{
    background-color: blueviolet;
    position: relative;
    right: 40px;
    top: 70px;
}
.item4{
    position: fixed;
    right: 20px;
    top: 20px;
}
.parent{
    background-color: rgb(6,43,43);
    width: 100%;
    height: 400px;
}