.box{
    background-color: blue;
    text-align: center;
    height:50px;
    width: 100%;
    margin: 2px;;
    }
    .grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: lightgray;
      gap: 2px;
    }
    