.grey{
background-color: gray;
height: 200px;
}
.red{
background-color: red;
height: 200px;
}
.green{
    background-color: green;
    height: 200px;
}
.blue{
    background-color: blue;
    height: 200px;
}
.light-purple{
    background-color: blueviolet;
    height: 200px;
}
.purple{
    background-color: purple;
    height: 200px;
}
.orange{
    background-color: orangered;
    height: 200px;
}